TSEA/ConsoleApplication1/ConsoleApplication1/Resources/OriginalXSD/expanded-Calendar-791028167.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:airsyncbase="AirSyncBase" xmlns="Calendar" targetNamespace="Calendar" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="AirSyncBase" schemaLocation="AirSyncBase.xsd" />
  <xs:element name="Timezone" type="xs:string" />
  <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
  <xs:element name="BusyStatus" minOccurs="0">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedByte">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OrganizerName" type="xs:string" />
  <xs:element name="OrganizerEmail" type="xs:string" />
  <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
  <xs:element name="EndTime" type="xs:string" minOccurs="0" />
  <xs:element name="Location" type="xs:string" minOccurs="0" />
  <xs:element name="Reminder" type="xs:string" minOccurs="0" />
  <xs:element name="Sensitivity" minOccurs="0">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedByte">
        <xs:minInclusive value="0" />
        <xs:maxInclusive value="3" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Subject" type="xs:string" minOccurs="0" />
  <xs:element name="StartTime" type="xs:string" minOccurs="0" />
  <xs:element name="UID">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="300" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="MeetingStatus" minOccurs="0">
    <xs:simpleType>
      <xs:restriction base="xs:unsignedByte">
        <xs:enumeration value="1" />
        <xs:enumeration value="0" />
        <xs:enumeration value="3" />
        <xs:enumeration value="5" />
        <xs:enumeration value="7" />
        <xs:enumeration value="9" />
        <xs:enumeration value="11" />
        <xs:enumeration value="13" />
        <xs:enumeration value="15" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Attendees" minOccurs="0">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="Attendee" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element name="Email" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="AttendeeStatus" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="4" />
                    <xs:enumeration value="5" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AttendeeType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:enumeration value="1" />
                    <xs:enumeration value="2" />
                    <xs:enumeration value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Categories" minOccurs="0">
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="300">
        <xs:element name="Category" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Recurrence">
    <xs:complexType>
      <xs:all minOccurs="0">
        <xs:element name="Type">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Occurrences" type="xs:unsignedShort" minOccurs="0" />
        <xs:element name="Interval">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedShort">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="999" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="WeekOfMonth" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="1" />
              <xs:maxInclusive value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DayOfWeek" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedShort">
              <xs:minInclusive value="1" />
              <xs:maxInclusive value="127" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MonthOfYear" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="1" />
              <xs:maxInclusive value="12" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Until" type="xs:string" minOccurs="0" />
        <xs:element name="DayOfMonth" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="1" />
              <xs:maxInclusive value="31" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="CalendarType" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="23" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="IsLeapMonth" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FirstDayOfWeek" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="6" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exceptions">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element name="Exception" maxOccurs="1000">
          <xs:complexType>
            <xs:all>
              <xs:element name="Deleted" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="ExceptionStartTime" type="xs:string" />
              <xs:element name="Subject" type="xs:string" minOccurs="0" />
              <xs:element name="StartTime" type="xs:string" minOccurs="0" />
              <xs:element name="EndTime" type="xs:string" minOccurs="0" />
              <xs:element name="Body" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Type" type="xs:unsignedByte" />
                    <xs:element name="EstimatedDataSize" type="xs:unsignedInt" minOccurs="0" />
                    <xs:element name="Truncated" type="xs:boolean" minOccurs="0" />
                    <xs:element name="Data" type="xs:string" minOccurs="0" />
                    <xs:element name="Preview" type="xs:string" minOccurs="0" />
                    <xs:element ref="itemoperations:Part" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Location" type="xs:string" minOccurs="0" />
              <xs:element name="Categories" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0" maxOccurs="300">
                    <xs:element name="Category" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sensitivity" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="BusyStatus" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="3" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="Reminder" type="xs:string" minOccurs="0" />
              <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
              <xs:element name="MeetingStatus" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:enumeration value="1" />
                    <xs:enumeration value="0" />
                    <xs:enumeration value="3" />
                    <xs:enumeration value="5" />
                    <xs:enumeration value="7" />
                    <xs:enumeration value="9" />
                    <xs:enumeration value="11" />
                    <xs:enumeration value="13" />
                    <xs:enumeration value="15" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Attendees" minOccurs="0">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="Attendee" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Email" type="xs:string" />
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="AttendeeStatus" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:enumeration value="0" />
                                <xs:enumeration value="2" />
                                <xs:enumeration value="3" />
                                <xs:enumeration value="4" />
                                <xs:enumeration value="5" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="AttendeeType" minOccurs="0">
                            <xs:simpleType>
                              <xs:restriction base="xs:unsignedByte">
                                <xs:enumeration value="1" />
                                <xs:enumeration value="2" />
                                <xs:enumeration value="3" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AppointmentReplyTime" type="xs:string" minOccurs="0" />
              <xs:element name="ResponseType" type="xs:unsignedInt" minOccurs="0" />
              <xs:element name="OnlineMeetingConfLink" type="xs:string" minOccurs="0" />
              <xs:element name="OnlineMeetingExternalLink" type="xs:string" minOccurs="0" />
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseRequested" type="xs:boolean" />
  <xs:element name="AppointmentReplyTime" type="xs:string" minOccurs="0" />
  <xs:element name="ResponseType" type="xs:unsignedInt" minOccurs="0" />
  <xs:element name="DisallowNewTimeProposal" type="xs:boolean" />
  <xs:element name="OnlineMeetingConfLink" type="xs:string" minOccurs="0" />
  <xs:element name="OnlineMeetingExternalLink" type="xs:string" minOccurs="0" />
  <xs:group name="AllProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Timezone" type="xs:string" />
        <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="BusyStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrganizerName" type="xs:string" />
        <xs:element name="OrganizerEmail" type="xs:string" />
        <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
        <xs:element name="EndTime" type="xs:string" minOccurs="0" />
        <xs:element name="Location" type="xs:string" minOccurs="0" />
        <xs:element name="Reminder" type="xs:string" minOccurs="0" />
        <xs:element name="Sensitivity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Subject" type="xs:string" minOccurs="0" />
        <xs:element name="StartTime" type="xs:string" minOccurs="0" />
        <xs:element name="UID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="300" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MeetingStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="1" />
              <xs:enumeration value="0" />
              <xs:enumeration value="3" />
              <xs:enumeration value="5" />
              <xs:enumeration value="7" />
              <xs:enumeration value="9" />
              <xs:enumeration value="11" />
              <xs:enumeration value="13" />
              <xs:enumeration value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Attendees" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Attendee" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="AttendeeStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="4" />
                          <xs:enumeration value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AttendeeType" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="300">
              <xs:element name="Category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Recurrence">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="Type">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Occurrences" type="xs:unsignedShort" minOccurs="0" />
              <xs:element name="Interval">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedShort">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="999" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="WeekOfMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="5" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DayOfWeek" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedShort">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="127" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="MonthOfYear" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Until" type="xs:string" minOccurs="0" />
              <xs:element name="DayOfMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="31" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CalendarType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="23" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IsLeapMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FirstDayOfWeek" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Exceptions">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Exception" maxOccurs="1000">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Deleted" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="ExceptionStartTime" type="xs:string" />
                    <xs:element name="Subject" type="xs:string" minOccurs="0" />
                    <xs:element name="StartTime" type="xs:string" minOccurs="0" />
                    <xs:element name="EndTime" type="xs:string" minOccurs="0" />
                    <xs:element name="Body" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="xs:unsignedByte" />
                          <xs:element name="EstimatedDataSize" type="xs:unsignedInt" minOccurs="0" />
                          <xs:element name="Truncated" type="xs:boolean" minOccurs="0" />
                          <xs:element name="Data" type="xs:string" minOccurs="0" />
                          <xs:element name="Preview" type="xs:string" minOccurs="0" />
                          <xs:element ref="itemoperations:Part" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Location" type="xs:string" minOccurs="0" />
                    <xs:element name="Categories" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="300">
                          <xs:element name="Category" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sensitivity" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="BusyStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="Reminder" type="xs:string" minOccurs="0" />
                    <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
                    <xs:element name="MeetingStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="0" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="5" />
                          <xs:enumeration value="7" />
                          <xs:enumeration value="9" />
                          <xs:enumeration value="11" />
                          <xs:enumeration value="13" />
                          <xs:enumeration value="15" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Attendees" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="Attendee" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Email" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="AttendeeStatus" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:enumeration value="0" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                      <xs:enumeration value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="AttendeeType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AppointmentReplyTime" type="xs:string" minOccurs="0" />
                    <xs:element name="ResponseType" type="xs:unsignedInt" minOccurs="0" />
                    <xs:element name="OnlineMeetingConfLink" type="xs:string" minOccurs="0" />
                    <xs:element name="OnlineMeetingExternalLink" type="xs:string" minOccurs="0" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ResponseRequested" type="xs:boolean" />
        <xs:element name="AppointmentReplyTime" type="xs:string" minOccurs="0" />
        <xs:element name="ResponseType" type="xs:unsignedInt" minOccurs="0" />
        <xs:element name="DisallowNewTimeProposal" type="xs:boolean" />
        <xs:element name="OnlineMeetingConfLink" type="xs:string" minOccurs="0" />
        <xs:element name="OnlineMeetingExternalLink" type="xs:string" minOccurs="0" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="GhostingProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Timezone" type="xs:string" />
        <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="BusyStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrganizerName" type="xs:string" />
        <xs:element name="OrganizerEmail" type="xs:string" />
        <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
        <xs:element name="EndTime" type="xs:string" minOccurs="0" />
        <xs:element name="Location" type="xs:string" minOccurs="0" />
        <xs:element name="Reminder" type="xs:string" minOccurs="0" />
        <xs:element name="Sensitivity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Subject" type="xs:string" minOccurs="0" />
        <xs:element name="StartTime" type="xs:string" minOccurs="0" />
        <xs:element name="UID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="300" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MeetingStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="1" />
              <xs:enumeration value="0" />
              <xs:enumeration value="3" />
              <xs:enumeration value="5" />
              <xs:enumeration value="7" />
              <xs:enumeration value="9" />
              <xs:enumeration value="11" />
              <xs:enumeration value="13" />
              <xs:enumeration value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Attendees" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Attendee" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="AttendeeStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="4" />
                          <xs:enumeration value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AttendeeType" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="300">
              <xs:element name="Category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Recurrence">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="Type">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Occurrences" type="xs:unsignedShort" minOccurs="0" />
              <xs:element name="Interval">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedShort">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="999" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="WeekOfMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="5" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DayOfWeek" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedShort">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="127" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="MonthOfYear" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Until" type="xs:string" minOccurs="0" />
              <xs:element name="DayOfMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="31" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CalendarType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="23" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IsLeapMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FirstDayOfWeek" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Exceptions">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Exception" maxOccurs="1000">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Deleted" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="ExceptionStartTime" type="xs:string" />
                    <xs:element name="Subject" type="xs:string" minOccurs="0" />
                    <xs:element name="StartTime" type="xs:string" minOccurs="0" />
                    <xs:element name="EndTime" type="xs:string" minOccurs="0" />
                    <xs:element name="Body" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="xs:unsignedByte" />
                          <xs:element name="EstimatedDataSize" type="xs:unsignedInt" minOccurs="0" />
                          <xs:element name="Truncated" type="xs:boolean" minOccurs="0" />
                          <xs:element name="Data" type="xs:string" minOccurs="0" />
                          <xs:element name="Preview" type="xs:string" minOccurs="0" />
                          <xs:element ref="itemoperations:Part" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Location" type="xs:string" minOccurs="0" />
                    <xs:element name="Categories" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="300">
                          <xs:element name="Category" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sensitivity" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="BusyStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="Reminder" type="xs:string" minOccurs="0" />
                    <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
                    <xs:element name="MeetingStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="0" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="5" />
                          <xs:enumeration value="7" />
                          <xs:enumeration value="9" />
                          <xs:enumeration value="11" />
                          <xs:enumeration value="13" />
                          <xs:enumeration value="15" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Attendees" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="Attendee" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Email" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="AttendeeStatus" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:enumeration value="0" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                      <xs:enumeration value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="AttendeeType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AppointmentReplyTime" type="xs:string" minOccurs="0" />
                    <xs:element name="ResponseType" type="xs:unsignedInt" minOccurs="0" />
                    <xs:element name="OnlineMeetingConfLink" type="xs:string" minOccurs="0" />
                    <xs:element name="OnlineMeetingExternalLink" type="xs:string" minOccurs="0" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DisallowNewTimeProposal" type="xs:boolean" />
        <xs:element name="ResponseRequested" type="xs:boolean" />
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="TopLevelSchemaProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Timezone" type="xs:string" />
        <xs:element name="StartTime" type="xs:string" minOccurs="0" />
        <xs:element name="EndTime" type="xs:string" minOccurs="0" />
        <xs:element name="Subject" type="xs:string" minOccurs="0" />
        <xs:element name="Location" type="xs:string" minOccurs="0" />
        <xs:element name="Reminder" type="xs:string" minOccurs="0" />
        <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="BusyStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Recurrence">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element name="Type">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Occurrences" type="xs:unsignedShort" minOccurs="0" />
              <xs:element name="Interval">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedShort">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="999" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="WeekOfMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="5" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="DayOfWeek" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedShort">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="127" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="MonthOfYear" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="12" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Until" type="xs:string" minOccurs="0" />
              <xs:element name="DayOfMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="31" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="CalendarType" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="23" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="IsLeapMonth" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="FirstDayOfWeek" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedByte">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="6" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sensitivity" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="3" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
        <xs:element name="Attendees" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Attendee" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Email" type="xs:string" />
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="AttendeeStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="0" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="4" />
                          <xs:enumeration value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AttendeeType" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="2" />
                          <xs:enumeration value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Categories" minOccurs="0">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="300">
              <xs:element name="Category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MeetingStatus" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="1" />
              <xs:enumeration value="0" />
              <xs:enumeration value="3" />
              <xs:enumeration value="5" />
              <xs:enumeration value="7" />
              <xs:enumeration value="9" />
              <xs:enumeration value="11" />
              <xs:enumeration value="13" />
              <xs:enumeration value="15" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OrganizerName" type="xs:string" />
        <xs:element name="OrganizerEmail" type="xs:string" />
        <xs:element name="UID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="300" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DisallowNewTimeProposal" type="xs:boolean" />
        <xs:element name="ResponseRequested" type="xs:boolean" />
        <xs:element name="Exceptions">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="Exception" maxOccurs="1000">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Deleted" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="ExceptionStartTime" type="xs:string" />
                    <xs:element name="Subject" type="xs:string" minOccurs="0" />
                    <xs:element name="StartTime" type="xs:string" minOccurs="0" />
                    <xs:element name="EndTime" type="xs:string" minOccurs="0" />
                    <xs:element name="Body" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="xs:unsignedByte" />
                          <xs:element name="EstimatedDataSize" type="xs:unsignedInt" minOccurs="0" />
                          <xs:element name="Truncated" type="xs:boolean" minOccurs="0" />
                          <xs:element name="Data" type="xs:string" minOccurs="0" />
                          <xs:element name="Preview" type="xs:string" minOccurs="0" />
                          <xs:element ref="itemoperations:Part" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Location" type="xs:string" minOccurs="0" />
                    <xs:element name="Categories" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="300">
                          <xs:element name="Category" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sensitivity" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="BusyStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:minInclusive value="0" />
                          <xs:maxInclusive value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="Reminder" type="xs:string" minOccurs="0" />
                    <xs:element name="DtStamp" type="xs:string" minOccurs="0" />
                    <xs:element name="MeetingStatus" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedByte">
                          <xs:enumeration value="1" />
                          <xs:enumeration value="0" />
                          <xs:enumeration value="3" />
                          <xs:enumeration value="5" />
                          <xs:enumeration value="7" />
                          <xs:enumeration value="9" />
                          <xs:enumeration value="11" />
                          <xs:enumeration value="13" />
                          <xs:enumeration value="15" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Attendees" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="Attendee" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Email" type="xs:string" />
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="AttendeeStatus" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:enumeration value="0" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                      <xs:enumeration value="4" />
                                      <xs:enumeration value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                                <xs:element name="AttendeeType" minOccurs="0">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                      <xs:enumeration value="1" />
                                      <xs:enumeration value="2" />
                                      <xs:enumeration value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AppointmentReplyTime" type="xs:string" minOccurs="0" />
                    <xs:element name="ResponseType" type="xs:unsignedInt" minOccurs="0" />
                    <xs:element name="OnlineMeetingConfLink" type="xs:string" minOccurs="0" />
                    <xs:element name="OnlineMeetingExternalLink" type="xs:string" minOccurs="0" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
</xs:schema>