TSEA/ConsoleApplication1/ConsoleApplication1/Resources/ChangedXSD/merge1338720743.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:airsyncbase="AirSyncBase" xmlns:email2="Email2" xmlns:tasks="Tasks" xmlns="Email" targetNamespace="Email" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="AirSyncBase" schemaLocation="asb.xsd" />
  <xs:import namespace="Email2" schemaLocation="email2.xsd" />
  <xs:import namespace="Tasks" schemaLocation="tasks.xsd" />
  <xs:element name="To">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32768" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Cc" type="xs:string" />
  <xs:element name="From">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="32768" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Subject" type="xs:string" />
  <xs:element name="ReplyTo" type="xs:string" />
  <xs:element name="DateReceived" type="xs:dateTime" />
  <xs:element name="DisplayTo" type="xs:string" />
  <xs:element name="ThreadTopic" type="xs:string" />
  <xs:element name="Importance" type="xs:unsignedByte" />
  <xs:element name="Read" type="xs:boolean" />
  <xs:element name="MessageClass" type="xs:string" />
  <xs:element name="MeetingRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="StartTime" type="xs:dateTime" minOccurs="1" />
        <xs:element name="DtStamp" type="xs:dateTime" />
        <xs:element name="EndTime" type="xs:dateTime" />
        <xs:element name="InstanceType" type="xs:unsignedByte" />
        <xs:element name="Location" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32768" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Organizer" type="xs:string" minOccurs="0" />
        <xs:element name="RecurrenceId" type="xs:dateTime" minOccurs="0" />
        <xs:element name="Reminder" type="xs:unsignedShort" minOccurs="0" />
        <xs:element name="ResponseRequested" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="Recurrences" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Recurrence">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Type" type="xs:unsignedByte" />
                    <xs:element name="Interval" type="xs:integer" />
                    <xs:element name="Until" type="xs:dateTime" />
                    <xs:element name="Occurrences" type="xs:integer" minOccurs="0" />
                    <xs:element name="WeekOfMonth" type="xs:integer" minOccurs="0" />
                    <xs:element name="DayOfMonth" type="xs:integer" minOccurs="0" />
                    <xs:element name="DayOfWeek" type="xs:integer" minOccurs="0" />
                    <xs:element name="MonthOfYear" type="xs:integer" minOccurs="0" />
                    <xs:element name="CalendarType" type="xs:integer" minOccurs="0" />
                    <xs:element name="IsLeapMonth" type="xs:unsignedByte" minOccurs="0" />
                    <xs:element name="FirstDayOfWeek" type="xs:unsignedByte" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sensitivity" type="xs:integer" minOccurs="0" />
        <xs:element name="BusyStatus" type="xs:integer" minOccurs="0" />
        <xs:element name="TimeZone" type="xs:string" />
        <xs:element name="GlobalObjId" type="xs:string" />
        <xs:element name="DisallowNewTimeProposal" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="MeetingMessageType" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternetCPID" type="xs:string" />
  <xs:element name="Flag">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Subject" type="xs:string" minOccurs="0" />
        <xs:element name="Status" type="xs:integer" minOccurs="0" />
        <xs:element name="FlagType" type="xs:string" minOccurs="0" />
        <xs:element name="DateCompleted" type="xs:dateTime" minOccurs="0" />
        <xs:element name="CompleteTime" type="xs:dateTime" minOccurs="0" />
        <xs:element name="StartDate" type="xs:dateTime" minOccurs="0" />
        <xs:element name="DueDate" type="xs:dateTime" minOccurs="0" />
        <xs:element name="UtcStartDate" type="xs:dateTime" minOccurs="0" />
        <xs:element name="UtcDueDate" type="xs:dateTime" minOccurs="0" />
        <xs:element name="ReminderSet" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="ReminderTime" type="xs:dateTime" minOccurs="0" />
        <xs:element name="OrdinalDate" type="xs:dateTime" minOccurs="0" />
        <xs:element name="SubOrdinalDate" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContentClass" type="xs:string" />
  <xs:element name="Categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="300" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="AllProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="To">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32768" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Cc" type="xs:string" />
        <xs:element name="From">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32768" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Subject" type="xs:string" />
        <xs:element name="ReplyTo" type="xs:string" />
        <xs:element name="DateReceived" type="xs:dateTime" />
        <xs:element name="DisplayTo" type="xs:string" />
        <xs:element name="ThreadTopic" type="xs:string" />
        <xs:element name="Importance" type="xs:unsignedByte" />
        <xs:element name="Read" type="xs:boolean" />
        <xs:element name="MessageClass" type="xs:string" />
        <xs:element name="MeetingRequest">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AllDayEvent" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="StartTime" type="xs:dateTime" minOccurs="1" />
              <xs:element name="DtStamp" type="xs:dateTime" />
              <xs:element name="EndTime" type="xs:dateTime" />
              <xs:element name="InstanceType" type="xs:unsignedByte" />
              <xs:element name="Location" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32768" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="Organizer" type="xs:string" minOccurs="0" />
              <xs:element name="RecurrenceId" type="xs:dateTime" minOccurs="0" />
              <xs:element name="Reminder" type="xs:unsignedShort" minOccurs="0" />
              <xs:element name="ResponseRequested" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="Recurrences" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Recurrence">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Type" type="xs:unsignedByte" />
                          <xs:element name="Interval" type="xs:integer" />
                          <xs:element name="Until" type="xs:dateTime" />
                          <xs:element name="Occurrences" type="xs:integer" minOccurs="0" />
                          <xs:element name="WeekOfMonth" type="xs:integer" minOccurs="0" />
                          <xs:element name="DayOfMonth" type="xs:integer" minOccurs="0" />
                          <xs:element name="DayOfWeek" type="xs:integer" minOccurs="0" />
                          <xs:element name="MonthOfYear" type="xs:integer" minOccurs="0" />
                          <xs:element name="CalendarType" type="xs:integer" minOccurs="0" />
                          <xs:element name="IsLeapMonth" type="xs:unsignedByte" minOccurs="0" />
                          <xs:element name="FirstDayOfWeek" type="xs:unsignedByte" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Sensitivity" type="xs:integer" minOccurs="0" />
              <xs:element name="BusyStatus" type="xs:integer" minOccurs="0" />
              <xs:element name="TimeZone" type="xs:string" />
              <xs:element name="GlobalObjId" type="xs:string" />
              <xs:element name="DisallowNewTimeProposal" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="MeetingMessageType" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InternetCPID" type="xs:string" />
        <xs:element name="Flag">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Subject" type="xs:string" minOccurs="0" />
              <xs:element name="Status" type="xs:integer" minOccurs="0" />
              <xs:element name="FlagType" type="xs:string" minOccurs="0" />
              <xs:element name="DateCompleted" type="xs:dateTime" minOccurs="0" />
              <xs:element name="CompleteTime" type="xs:dateTime" minOccurs="0" />
              <xs:element name="StartDate" type="xs:dateTime" minOccurs="0" />
              <xs:element name="DueDate" type="xs:dateTime" minOccurs="0" />
              <xs:element name="UtcStartDate" type="xs:dateTime" minOccurs="0" />
              <xs:element name="UtcDueDate" type="xs:dateTime" minOccurs="0" />
              <xs:element name="ReminderSet" type="xs:unsignedByte" minOccurs="0" />
              <xs:element name="ReminderTime" type="xs:dateTime" minOccurs="0" />
              <xs:element name="OrdinalDate" type="xs:dateTime" minOccurs="0" />
              <xs:element name="SubOrdinalDate" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ContentClass" type="xs:string" />
        <xs:element name="Categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="300" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="TopLevelSchemaProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="To">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Cc">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="From">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ReplyTo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DateReceived">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Subject">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="DisplayTo">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Importance">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Read">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MessageClass">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MeetingRequest">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ThreadTopic">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="InternetCPID">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="ComparisonProps">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="DateReceived">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:group>
</xs:schema>